{% extends 'base.html' %}
{% load static %}

{% block title %}
KTZ Commerce - Контакты
{% endblock title %}

{% block content %}
<div class="container">
    <h3 class="mt-5">Контакты</h3>
    <hr class="featurette-divider">
    <p class="h5"> Казахстан, Нур-Султан</p>
    <p>БЦ «Изумрудный квартал», Д. Кунаева, 10<br> Контактный телефон:   +7 7172 611 500<br> Электронный адрес:   express@ktze.online<br> Электронный адрес пресс-службы: pr@ktze.kz</p>

    <hr class="featurette-divider">
    <p class="h5">Казахстан, Алматы</p>
    <p>БЦ «КОБА», Наурызбай батыра, 8,<br>Контактный телефон:   +7 701 232 11 72</p>

    <hr class="featurette-divider">
    <p class="h5">Казахстан, Актобе</p>
    <p>БЦ «Актас», Тилеу батыра, 10<br>Контактный телефон:   +7 7132 974 333 +7 7135 974 618</p>

    <hr class="featurette-divider">
    <p class="h5">Казахстан, Костанай </p>
    <p>БЦ «Kostanay City», Аль-Фараби, 65 <br>Контактный телефон:   +7 705 427 64 86 +7 7142 39 21 31 </p>

    <hr class="featurette-divider">
    <p class="h5">Китай, Провинция Шэньси, Сиань</p>
    <p>Free tradearea, customs building,офис 1503<br>Контактный телефон:   +86 185 1590 9010</p>

    <hr class="featurette-divider">
    <p class="h5">Китай, Гонконг </p>
    <p>Контактный телефон:   +7 707 303 09 88 </p>

    <hr class="featurette-divider">
    <p class="h5">Россия, Москва </p>
    <p>Контактный телефон:   +7 915 048 1381 </p>

    <hr class="featurette-divider">
    <p class="h5">Стамбул, Турция </p>
    <p>Trump Towers, Kuştepe Mah.,Mecidiyeköy Yolu Cad, No:12 <br>Контактный телефон:   +86 185 1590 9010<br>Trump Towers, Kuştepe Mah.,Mecidiyeköy Yolu Cad, No:12 </p>

    <hr class="featurette-divider">
    <p class="h5">Телефон горячей линии АО «KTZ Express» </p>
    <p>Контактный телефон:      + 7 800 080 19 94 </p>
</div>
{% endblock content %}