{% extends 'base.html' %}
{% load static %}

{% block title %}
KTZ Commerce - Документы
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="container">
        <p class="h5">Типовые договоры:</p>
        <a href="https://drive.google.com/file/d/1axYmUxbuOZOl8vL1TKb3gC_njnLDkGuQ/view">Типовой Договор по Шаттл перевозкам </a>
    </div>
</div>
<div class="container mt-5">
    <div class="container">
        <p class="h5">Правила: :</p>
        <a href="https://drive.google.com/file/d/11oS97z8kM2q76X7v2_bAq34SDyTjp4wS/view">Правила взаимодействия в рамках Договора транспортной экспедиции </a>
    </div>
</div>
<div class="container mt-5">
    <div class="container">
        <p class="h5">Информация по отцепленным транзитным контейнерам на территории РК: </p>
        <a href="https://drive.google.com/file/d/1lQ4SJTFildQx78wQwtApr8kUvXHwHRqA/view">Справочная информация по отцепленным транзитным контейнерам на территории Республики Казахстан по таможенному досмотру (за 2019г.) </a>
        <a href="https://drive.google.com/file/d/1S5TUTo431NMb7z2jhfPWh856NpJg9WvG/view">Справочная информация по отцепленным транзитным контейнерам на территории Республики Казахстан по таможенному досмотру (за 2020г.) </a>
    </div>
{% endblock content %}