{% extends 'base.html' %}
{% load static %}

{% block title %}
KTZ Commerce - О нас
{% endblock title %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">О нас</h1>
        <h4 class="mt-5">Миссия компании</h4>
        <p class="lead text-muted">Качественное и надёжное предоставление полного спектра транспортно- логистических услуг во всех видах сообщений, с совершенствованием бизнес-процессов, основываясь на применении новейших технологий.</p>

        <h4 class="mt-5">Видение</h4>
        <p class="lead text-muted">Лидерство на рынке международных грузовых мультимодальных грузоперевозок. Оказание услуг высокого качества по оптимальным ценам.

        <h4 class="mt-5">Цели компании </h4>
        <p class="lead text-muted"> Улучшение качества сервиса<br> Автоматизация бизнес- процессов<br> Привлечение транзитных грузопотоков<br> Выполнение бюджетных показателей<br> Развитие региональной сети<br> </p>

        <h4 class="mt-5">Ценности </h4>

        <h4 class="mt-5">Репутация</h4>
        <p class="lead text-muted">Доверие и удовлетворённость клиента<br>Лояльность сотрудников</p>

        <h4 class="mt-5">Динамика и постоянное развитие</h4>
        <p class="lead text-muted">Современные информационные технологии<br> Увеличение объёма перевозок<br> Качество<br> Лояльность сотрудников.</p>

        <h4 class="mt-5">Международные стандарты качества</h4>
        <p class="lead text-muted">Регламентированные бизнес-процессы<br> Профессиональная команда<br> Персонал.</p> </p>

        <h4 class="mt-5">Создание благоприятных условий труда </h4>
        <p class="lead text-muted">Постоянное обучение<br> Возможность карьерного роста.</p>
      </div>
    </div>
  </section>
{% endblock content %}